<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link text-dark" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-screwdriver"></i>&nbsp;Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fas fa-box mr-2"></i>&nbsp;&nbsp;&nbsp;Categories</a>
        <a class="dropdown-item" href="#"><i class="fas fa-users mr-2"></i>&nbsp;&nbsp;Users to Category</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="Admin" asp-controller="MediaType" asp-action="Index"><i class="fa-regular fa-folder-open"></i>&nbsp;&nbsp;&nbsp;Media Types</a>
    </div>